%h1 hello

= form_tag init_path do

  = label_tag :app_name, '1. enter application name (ex. mastercard-promo)'
  %br
  = text_field_tag :app_name, '', { style: 'width: 300px' }
  %br
  %br

  = label_tag :repo_url, '2. enter git repository url (for capistrano)'
  %br
  = text_field_tag :repo_url, '', { style: 'width: 440px' }
  %br
  %br

  = submit_tag 'Enjoy!'

%p что делает эта штука
%ul
  %li настраивает PostgreSQL
  %li настраивает деплой Capistrano для stage

