%section.main-content
  %section.slider.dark
    .row
      .slides
        .slide
          %img{:alt => "", :src => "http://cdn.shopify.com/s/files/1/0289/0326/t/2/assets/home-slider-slide-1.jpg?5832054538588921208"}/
          .caption.left.middle.text-left
            .bg
            %h2.title Top 10 Summer Ciders
            %h3.sub-title We share our cider selection, hand-picking the best from around the globe
            %a.button{:href => "#"} Buy Theme
          / .slide_caption
        .slide
          %img{:alt => "", :src => "http://cdn.shopify.com/s/files/1/0289/0326/t/2/assets/home-slider-slide-2.jpg?5832054538588921208"}/
          .caption.center.middle.text-left
            .bg
            %h2.title Divine Dairy
            %h3.sub-title Proudly certified organic biodynamic hand made cheese, now in-store!
            %a.button{:href => "collections/all/products/divine-dairy-double-cream-brie.html"} More Info
          / .slide_caption
        .slide.video
          %img{:alt => "", :src => "http://cdn.shopify.com/s/files/1/0289/0326/t/2/assets/home-slider-slide-3.jpg?5832054538588921208"}/
          %a.play-button{:href => "https://vimeo.com/66766676"}
            .triangle
  .modal.video
    .bg
    %a.close.glyph.cross{"aria-hidden" => "true"}
    .player.columns.large-8
      .flex-video
    .caption.columns.large-4
  .modal-mask
  / #product-slider
  .widgets
    .small-promos
      .row
        .columns.large-4
          .image-text-widget
            %a{:href => "#"}
              %img{:src => "http://cdn.shopify.com/s/files/1/0289/0326/t/2/assets/home-widget-image-text-1.jpg?5832054538588921208"}/
              .caption
                .bg
                .inner
                  %h1 Daily Deli Goods
                  %h2 Shop New
        .columns.large-4
          .image-text-widget
            %a{:href => "#"}
              %img{:src => "http://cdn.shopify.com/s/files/1/0289/0326/t/2/assets/home-widget-image-text-2.jpg?5832054538588921208"}/
              .caption
                .bg
                .inner
                  %h1 From the Bar
                  %h2 Shop Specialty
        .columns.large-4
          .image-text-widget
            %a{:href => "#"}
              %img{:src => "http://cdn.shopify.com/s/files/1/0289/0326/t/2/assets/home-widget-image-text-3.jpg?5832054538588921208"}/
              .caption
                .bg
                .inner
                  %h1 Response &amp; Retina Ready
                  %h2 Buy Theme
  .dark
    .row.header
      .columns.template-blog
        %h2.font-headings.list-of-products.clearfix Список продуктов
        .tags.block.clearfix.colored-links.side-bar
          %h3.title категории
          %ul    
            %li.item
              %span.sort-link.is-checked{ :data => { :filter => '*' } }
                Всё
            - @categories.each do |category|
              %li.item
                %span.sort-link{ :data => { :filter => category.id } }
                  = category.title 

    .row.content
      .product-grid.clearfix
        //это блоки с продуктами
        - 5.times do
          - @promotions.each do |promotion|
            .product-item{ 'data-filter' => promotion.category_id, class: promotion.category_id }
              .image-wrapper
                %span.circle.sale
                  %span
                %a{:href => "#"}
                  = image_tag promotion.image, class: 'lazyOwl'
              .caption
                %p.title
                  = link_to promotion.title, '#'
                %p.vendor
                  = link_to promotion.store, promotion.store_url
                %p.price{ 'data-cost' => promotion.cost, 'data-discount_cost' => promotion.discount_cost }
                  %span
                    = promotion.discount_cost
                    &#8381;
                  %span.old-price
                    = promotion.cost
                    &#8381;