.page-header
  %h1
    Категории
    = link_to 'new', new_resource_url, class: 'btn btn-default pull-right'

- if collection.present?
  %table.table
    %thead
      %tr
        %th Название категории
        %th Количество акций
        %th
    %tbody
      - collection.each do |col|
        %tr
          %td= col.title
          %td= col.promotions.actual.count
          %td
            .pull-right.controls
              = link_to 'edit', edit_resource_url(col)
              = link_to 'delete', resource_url(col), method: :delete